body {
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(186, 186, 216); /* Color azul para el fondo del header */
  height: 90px;
  padding: 0 10px;
}

#menu-btn {
  position: absolute;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

#logo {
  max-width: 30%; /* Ajusta este valor según lo que necesites */
    height: auto;   /* Asegura que el logo mantenga su proporción */
    display: block; /* Hace que la imagen sea un bloque para centrarla */
    margin: 0 auto;
}

main {
  text-align: center;
}

main img {
  max-width: 80%;
  height: auto;
  padding: 10px;
}

main p {
  padding: 30px; 
  text-align: center;
}

nav#side-menu {
  position: fixed;   /* Posición fija en la ventana del navegador */
  top: 0;            /* Desde la parte superior de la ventana */
  left: -100%;       /* Inicialmente oculto a la izquierda */
  height: 100%;      /* Ocupa todo el alto de la ventana */
  width: 70%;        /* Ocupará el 70% del ancho de la ventana */
  background-color:  rgb(186, 186, 216); /* Fondo negro para el menú */
  color: white;      /* Color de texto blanco para el menú */
  overflow-y: auto;  /* Barra de desplazamiento si el contenido es muy largo */
  transition: left 0.3s; /* Transición suave al mostrar/ocultar */
  z-index: 1000;
}

nav#side-menu ul li a:hover {
  background-color: blue; /* Color de fondo cuando el mouse esté sobre el botón */
}

nav#side-menu ul {
  list-style-type: none;
  padding: 0;
}

nav#side-menu ul li {
  margin: 40px 0;
}

nav#side-menu ul li a {
  display: block;
    padding: 15px 25px;
    background-color:  rgb(186, 186, 216); /* Color de fondo de los botones */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.square {
  width: 90%;
    text-align: center; /* Para centrar el número en el cuadro */
    line-height: 100px; /* Para alinear verticalmente el número en el cuadro */
    font-weight: bold; /* Negrita para el número */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px ; 
    overflow: hidden; 
    border: 1px solid #ccc;
    margin-bottom: 20px; 
    min-height: 150px;
    margin: auto;
    border: none;
}

.square-1 {
  border-color: blue;
  box-shadow: 0px 0px 15px rgba(49, 94, 255, 0.5);
}

.square-1 h2 {
 font-size: 25px;
 line-height: 1.5;
}

.square-1 p {
  color: blue ;
 }

.square-2 {
  background-color: rgb(186, 186, 216); /* Color para el cuadrado 2. Puedes modificar este valor. */
}

.square-2 h2 {
  font-size: 25px;
  line-height: 1.5;
}
 
.square-2 p {
   color: rgb(0, 0, 0) ;
   font-size: 20px;
}

.square-3 {
    margin-top: 50px;
}

.square-3, .square-4, .square-5, .square-6 {
    border: none;
    width: 70%;
    box-shadow: 0px 0px 15px rgba(255, 255, 0, 0.5);
    line-height: 1.5;
}

.square-3 h2, .square-4 h2, .square-5 h2, .square-6 h2 {
    order: 2; /* Pone el título después de la imagen */
    font-size: 15px;
  }

.square-3 img, .square-4 img, .square-5 img, .square-6 img {
    order: 1; /* Pone la imagen primero */
}

.square-3 p, .square-4 p, .square-5 p, .square-6 p {
    order: 3; /* Mantiene la descripción al final */
    font-size: 10px;
}


.square h2 {
    margin-bottom: 10px; /* Reducir el tamaño de fuente para dispositivos móviles */
}


.square img {
  max-width: 80%; 
  margin-top: 0px; /* Espacio entre el párrafo y la imagen */
}

.square-7 {
  background-color: rgb(255, 255, 87);
  margin-top: 40px;
  margin-bottom: 5px;
}

.square-7 h2 {
  font-size: 25px;
  margin-top: -20px;
}

.square-7 p{
  font-size: 10px;
  line-height: 1.5;
  margin-top: -40px;
}

h3, p {
  text-align: left;
  padding-left: 10px; /* Esto agrega un pequeño padding para que no esté totalmente pegado al borde. Ajusta según prefieras. */
}

details {
  margin-bottom: 20px;
}


summary {
  font-size: 25px;
  line-height: 4;
  text-align: left;
  padding: 15px;
  margin-top: -15%;
}

summary p {
  margin-top: 0;
}

.whatsapp-btn {
  background-color: #25D366; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.whatsapp-icon::before {
  content: ""; 
  margin-right: 8px;
  display: inline-block;  
  width: 20px;  /* Ajusta este valor según lo que necesites */
  height: 20px;  /* Ajusta este valor según lo que necesites */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/800px-WhatsApp.svg.png');
  background-size: cover;  /* Asegura que la imagen cubra todo el espacio sin distorsionarse */
  background-repeat: no-repeat;
}

@media (min-width: 700px) {
  /* 1. El header solo lleva el logo */
  #menu-btn {
    display: none; /* Ocultamos el botón del menú para dispositivos móviles */
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 186, 216); /* Color azul para el fondo del header */
    height: 150px;
    padding: 0 10px;
  }

  #logo {
    max-width: 25%; /* Ajusta este valor según lo que necesites */
      height: auto;   /* Asegura que el logo mantenga su proporción */
      display: block; /* Hace que la imagen sea un bloque para centrarla */
      margin: 0 auto;
  }
  
  
  /* 2. Menú horizontal */
  #horizontal-menu {
    display: block; /* Mostrar el menú */
  }

  #horizontal-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 25px;
  }

  #horizontal-menu ul li a {
    padding: 10px 20px;
    background-color: rgb(186, 186, 216);
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  #horizontal-menu ul li a:hover {
    background-color: blue;
  }

  nav#side-menu {
    display: none; /* Ocultar el menú lateral en tablets */
  }

  /* 3. Slider */
  #slider {
    position: relative;
    width: 100%;
    height: 20vh;  /* 20% de la altura de la ventana */
    margin: 20px auto;
    overflow: hidden;
}

#slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que las imágenes se adapten al tamaño de la caja sin distorsionarse */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slider img {
    width: 100%;
}

#slider .slide:first-child {
  animation: sliderAnimation1 20s infinite;
}

#slider .slide:nth-child(2) {
  animation: sliderAnimation2 20s infinite;
}

#slider .slide:nth-child(3) {
  animation: sliderAnimation3 20s infinite;
}

#slider .slide:nth-child(4) {
  animation: sliderAnimation4 20s infinite;
}

@keyframes sliderAnimation1 {
  0%, 20% { opacity: 1; }
  25%, 100% { opacity: 0; }
}

@keyframes sliderAnimation2 {
  0%, 20% { opacity: 0; }
  25%, 45% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

@keyframes sliderAnimation3 {
  0%, 45% { opacity: 0; }
  50%, 70% { opacity: 1; }
  75%, 100% { opacity: 0; }
}

@keyframes sliderAnimation4 {
  0%, 70% { opacity: 0; }
  75%, 99% { opacity: 1; }  /* Cambio aquí: desvanecer justo antes del 100% */
  100% { opacity: 0; }
}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Ajusta la fuente y el espaciado para la sección de políticas */
  summary {
      font-size: 20px;
      padding: 10px;
      margin-top: 0;
  }

  summary p {
      margin-top: 5px;
  }
}

@media only screen and (max-width: 699px) {
  #slider, #horizontal-menu {
      display: none;
  }
}


@media screen and (min-width: 500px) and (max-width: 699px) {
  #logo {
    max-width: 22%; /* Ajusta este valor según lo que necesites */
      height: auto;   /* Asegura que el logo mantenga su proporción */
      display: block; /* Hace que la imagen sea un bloque para centrarla */
      margin: 0 auto;
  }
}
